@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import 'vars';

:root {
    --dark: rgb(46, 46, 46);
    --light: #fff;
    --text: var(--dark);
    --background: var(--light2);
    --light2: #eeeed8;
    --light3: #acb9a7;
    --primary: rgb(86, 106, 72);
}

html {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text)
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}

p {
    margin:0 0 1rem;
    line-height: 1.5;
}

section {
    position: relative;
    width: 100%;
    padding: 15vh 0;
}

.title {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 3rem;
    color: var(--text);
    font-weight: 800;
    text-decoration: underline dotted;

    &.large {
        font-size: 4rem;
    }
}

.container {
    width: 90vw;
    max-width: 70rem;
    margin: auto;

    &.text { max-width: 40rem; }
}

* {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: $device-small) {
    section {
        padding: 4rem 0;
    }

    .title { 
        font-size: 2rem;

        &.large {
            font-size: 2rem;
        }
    }
}